TEMP


        <div class="book">
            <div class="meta">
                <span class="isbn">ISBN: <%= bookData.isbn %></span>
                <br>
                <span class="title">Title: <%= bookData.title %></span>
                <br>
                <span class="subtitle">Subtitle: <%= bookData.subtitle %></span>
                <br>
                <span class="author">Author: <%= bookData.author %></span>
                <br>
                <span class="description">Description: <%= bookData.description %></span>
                <br>
                <span class="pageCount">Page Count: <%= bookData.pages %></span>
                <br>
                <img class="coverImg" src='<%= bookData.thumbnail %>'>
                <br>

                <form method="post" action="/books">
                    <input type="hidden" name="isbn" value="<%= bookData.isbn %>">
                    <input type="hidden" name="title" value="<%= bookData.title %>">
                    <input type="hidden" name="subtitle" value="<%= bookData.subtitle %>">
                    <input type="hidden" name="author" value="<%= bookData.author %>">
                    <input type="hidden" name="description" value="<%= bookData.description %>">
                    <input type="hidden" name="thumbnail" value="<%= bookData.thumbnail %>">
                    <input type="hidden" name="pages" value="<%= bookData.pages %>">
                    <input type="submit">
                </form>

                <br><br>
            </div>
        </div>
